@import 'styles/breakpoints';

.recipes-list__container {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(300px, auto);
  grid-row-gap: 20px;
  margin-bottom: 32px;

  @media (min-width: $minMd) {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.recipes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $mobilePadding;
  margin-top: 32px;

  @media (min-width: $minMd) {
    padding: 0;
  }
}

.recipes-list h1 {
  font-weight: 400;
  margin-bottom: 32px;
}

.recipes-list__loading-container {
  display: flex;
  min-height: 500px;
  align-items: center
}
