.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-list {
  display: grid;
  grid-template-columns: 400px 400px; 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}