@import 'styles/breakpoints';

.recipe-info__container {
  margin-top: 32px;
  text-align: start;
  padding: $mobilePadding;

  @media (min-width: $minMd) {
    width: 80vw;
  }
}

.recipe-info__back-btn {
  text-decoration: none;
  color: black;
}

.recipe-info {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 32px;
  background-color: white;
}

.recipe-info__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 100vh;
}

.recipe-info__photo {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: 1240px) {
    height: 500px;
  }
}

.recipe-info__body {
  padding: 0 32px;
  justify-content: start;
  text-align: start;
}

.recipe-info__description {
  padding-bottom: 32px;
  border-bottom: 1px solid grey;
  margin-bottom: 32px;
}

.recipe-info__chef-name {
  color: #2a5347;
}
